.character-info {
  /** todo: Пока нет общей вёрстки карточки персонажа, добавим явный отступ. Не забыть убрать! **/
  padding-top: 4.2rem;

  button.back {
    background: none;
    border: none;
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 0.8rem;
  }

  .indicator {
    margin: 0 auto;
  }
}
