.characters-list {
  padding-top: 2.5rem;
}

.characters-list .img-title {
  width: min(60rem, 100%);
  height: 20rem;
  background: url('../../assets/images/rick_and_morty.png') no-repeat center
    center / contain;
  margin: 0 auto;
}

.characters-list .indicator {
  margin: 0 auto;
}
