@use '@styles/sizes' as s;

.character-card {
  background: var(--color-white);
  width: 49.5rem;
  height: 23.5rem;
  border-radius: 0.6rem;
  box-shadow: 0.1rem 0.1rem 0.4rem 0 var(--color-shadow);
  padding: 0.7rem;
  position: relative;

  $main: &;

  #{$main}__edit-toggle {
    position: absolute;
    cursor: pointer;
    top: 1rem;
    right: 0.7rem;
    display: none;
  }

  &:hover #{$main}__edit-toggle {
    display: block;
  }

  #{$main}__edit-confirm {
    position: absolute;
    top: 0.7rem;
    right: 0.7rem;

    svg {
      width: 2.4rem;
      height: 2.4rem;
      cursor: pointer;
    }
  }

  #{$main}__content {
    display: grid;
    grid-template-columns: repeat(2, calc(50% - 0.55rem));
    column-gap: 1.1rem;

    $content: '#{$main}__content';
    $field-group: '.field-group';

    img {
      border-top-left-radius: 0.6rem;
      border-top-right-radius: 0.6rem;
      width: 100%;
      height: calc(100% - 0.6rem);
      min-height: 23.6rem;
      grid-row: 1/6;

      @media screen and (min-width: s.$width-large) {
        object-fit: none;
      }
    }

    #{$field-group} {
      display: flex;
      flex-direction: column;
      height: 4.4rem;
      gap: 0.4rem;
    }

    #{$field-group}__form-control {
      margin-left: -0.6rem;
    }

    label {
      color: var(--color-text);
      font-size: 1.6rem;
      line-height: 2.1rem;
      font-weight: 500;
      height: 1.7rem;
      letter-spacing: 0.025rem;

      &#{$main}__title {
        width: 100%;
        height: 3.1rem;
        vertical-align: middle;
        color: var(--color-title);
        font-size: 2rem;
        line-height: 3.2rem;
        cursor: pointer;
        letter-spacing: 0.015rem;
        margin-bottom: 0.4rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    .input-field#{$main}__title {
      margin-bottom: 0.4rem;
    }

    @mixin field-group-text {
      color: var(--color-text-inactive);
      height: 2.2rem;
      font-size: 1.4rem;
      line-height: 2.1rem;
      font-weight: 400;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    #{$field-group}__text {
      @include field-group-text;
    }

    #{$field-group}__status {
      @include field-group-text;

      display: flex;
      align-items: center;
      gap: 0.6rem;
    }
  }
}
