{
  "singleQuote": true,
  "jsxSingleQuote": true,
  "trailingComma": "none",
  "printWidth": 80,
  "tabWidth": 2,
  "semi": true,
  "arrowParens": "always",
  "bracketSpacing": true,
  "endOfLine": "lf",
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrder": [
    "react",
    "react-dom",
    "react-router",
    "react-hot-toast",
    "formik",
    "yup",
    "axios",
    "^@components/(.*)$",
    "^@widgets/(.*)$",
    "^@shared/(.*)$",
    "^./(.*)\\.tsx$",
    "^[./]"
  ],
  "importOrderSortSpecifiers": true
}
