.indicator {
  position: relative;
  width: 10.3rem;
  height: 10.1rem;
}

.indicator.indicator_large {
  width: 47.5rem;
  height: 46.5rem;
}

.indicator > .indicator__portal {
  background: url('../../assets/images/portal.png') no-repeat center center /
    contain;
  width: 100%;
  height: 100%;
  animation: indicator-rotation 2s linear infinite;
}

.indicator > h3.indicator__title {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.indicator:not(.indicator_large) > h3.indicator__title {
  font-size: 1.2rem;
  top: 100%;
}

@keyframes indicator-rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
