.indicator {
  position: relative;
  width: 10.3rem;
  height: 10.1rem;

  $main: &;

  &#{$main}_large {
    width: 47.5rem;
    height: 46.5rem;
  }

  & > #{$main}__portal {
    background: url('../../assets/images/portal.png') no-repeat center center /
      contain;
    width: 100%;
    height: 100%;
    animation: indicator-rotation 2s linear infinite;
  }

  & > h3#{$main}__title {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
  }

  &:not(#{$main}_large) > h3#{$main}__title {
    font-size: 1.2rem;
    top: 100%;
  }
}

@keyframes indicator-rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
