.select-example {
  display: grid;
  grid-template-columns: auto auto;
  row-gap: 1rem;
  column-gap: 4.2rem;
  width: fit-content;
  margin: 0 auto;
}

.select-example > strong {
  font-size: 1.6rem;
}

.status-option {
  display: flex;
  align-items: center;
  gap: 0.6rem;
}

.status-option > .status-option__circle {
  width: 1rem;
  height: 1rem;
  border-radius: 100%;
}

.status-option > .status-option__circle.status-option__circle_green {
  background-color: var(--color-status-green);
}
.status-option > .status-option__circle.status-option__circle_red {
  background-color: var(--color-status-red);
}
.status-option > .status-option__circle.status-option__circle_orange {
  background-color: var(--color-status-orange);
}
