#root > .app {
  background: var(--color-alt-background);

  & > main {
    width: auto;
    min-height: calc(100vh - 13rem);
    padding-bottom: 1rem;
    display: flex;
    flex-direction: column;
    background: var(--color-background);
  }

  & > nav,
  & > footer {
    width: auto;
    height: 6rem;
  }

  & > nav {
    background: var(--color-alt-background);
    display: flex;
    align-items: center;
    position: relative;
    justify-content: space-between;
    z-index: 2;

    & > svg {
      width: 4.8rem;
      height: 5rem;
    }
  }

  & > footer {
    background: var(--color-alt-background);
    display: flex;
    justify-content: center;
    align-items: center;
    h3 {
      color: var(--color-title);
    }
  }

  .toast {
    font-size: 1.5rem;
  }
}
