#root > main {
  width: auto;
  min-height: calc(100vh - 13rem);
  background: var(--temp-bg);
  padding-bottom: 1rem;
}

#root > nav,
#root > footer {
  width: auto;
  height: 6rem;
}

#root > nav {
  display: flex;
  align-items: center;
}

#root > footer {
  display: flex;
  justify-content: center;
  align-items: center;
}
