@import 'reset.css';

:root {
  /** todo: временный цвет фона для контраста. Удалить **/
  --temp-bg: #e1ffc2;
  --color-border: #393939;
  --color-text-inactive: rgb(0 0 0 / 60%);
  --color-white: #fff;
  --color-highlight: #d0f5ff;
  --color-selection: #d0efff;
  --color-input-field-underline: #000;
  --color-input-text: #000;
  --color-input-field-border: rgb(0 0 0 / 50%);
  --color-shadow: rgb(0 0 0 / 40%);
  --color-status-green: #12b800;
  --color-error: #f00;
  --color-status-red: #df0000;
  --color-status-orange: #f90;
  --color-text: #3f3f3f;
  --color-title: rgb(0 0 0 / 87%);
}

html {
  font-size: 10px;
  font-family: Roboto, sans-serif;
}

body {
  margin: 0;
}

h3 {
  font-family: Karla, serif;
  font-size: 1.8rem;
  margin: 0;
}

.shadow {
  box-shadow: -0.2rem 0 0.8rem rgb(0 0 0 / 10%);
}

.side-bars {
  padding-left: 19.8rem;
  padding-right: 19.8rem;
}
