:root {
  /** todo: временный цвет фона для контраста. Удалить **/
  --temp-bg: #e1ffc2;
}

html {
  font-size: 10px;
}

body {
  margin: 0;
}

h3 {
  font-family: Karla, serif;
  font-size: 1.8rem;
  margin: 0;
}

.shadow {
  box-shadow: -0.2rem 0 0.8rem rgb(0 0 0 / 10%);
}

.side-bars {
  padding-left: 19.8rem;
  padding-right: 19.8rem;
}
